*{padding: 0; margin: 0;}
body{font-family: Montserrat, sans-serif; background-color: black; width: 100%; letter-spacing: 0; }
header{background-color: #01579b; width: 100%; height: 80px;}
.imagemHeader{width: 20%; height: 80px; float: left; margin-left: 5%; }
header div{background-color: #01579b; color: white; float: left; margin: 10px 2%; font-weight: 100;}
header div p{text-align: center; padding: 10px; font-size: 1.3em; width: 100%; height: 100%;}
.primeirobotao{margin-left: 5%;}
header div:hover{color: #4fc3f7; cursor: pointer;}

/* ######################## FOOTER ########################*/
footer{background-color: black; width: 100%; height: 500px; border-top: #4fc3f7 solid;}
.imgFooter{width: 80%; margin: 30px 10% 10px 10%; }
.h3footer1{color: #116fff; font-size: 1em; text-align: center; width: 80%; margin: 10px 10% 10px 10%;}
.h3footerAll{color: #116fff; font-size: 1.5em; width: 100%; margin: 30px 0 20px 0; text-align: center;}
section{float: left; width: 23.5%; height: 100%;}
section:first-child{margin: 0 0 0 3%;}
section:last-child{margin: 0 3% 0 0;}
footer ul{color: white; margin: 0 0 0 35%; list-style: none;}
.ultimoUl{color: white; margin: 0 0 0 28%; list-style: none;}
footer ul li{margin: 0 0 20px 0;}
footer ul a{text-decoration: none; color: white;}
footer ul a:hover{color: gray;}
.social-icons a{font-size: 1.5em; color: rgba(255,255,255,0.7); margin: 0 3% 0 0;}
.social-icons a:first-child{margin-left: 22%;}
.social-icons a:last-child{margin-right: 0;}
.social-icons a:hover{color: rgba(255,255,255,255);}
.copyright{margin: 5% 0 0 15%; color: white; font-size: 1.1em;}
