<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Disciplina </title>
    <link rel="shortcut icon" href="../static/img/icon-impacta.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/estilogeral.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/disciplina.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/disciplina.js" ></script>
</head>
<body>
    <header>
        <img src="../static/img/faculdadeimpacta.png" class="imagemHeader">

        <a href="index"> <div class="primeirobotao"> <p>  Impacta  </p> </div> </a>
        <a href="disciplina"> <div> <P> Disciplina </p> </div> </a>
        <a href="listadecurso"> <div> <p> Lista </p> </div> </a>
        <a href="descricao_cursos"> <div> <p> Detalhes </p> </div> </a>
        <a href="noticias"> <div> <p> Notícias </p> </div> </a>
        <a href="login"><div class="login"> Login </div></a>
    </header>
    <h1 class="h1Disciplina"> DISCIPLINA DOS CURSOS </h1>

    <div class="DivGeralDisciplina">
      <div class="DivDisciplinas" id="Sistemas"> 
        <img src="../static/img/Sistenas.png" alt="">
        <h3> Sistemas de Informação</h3>
        <button id="btnSistemas" class="btn btnMargin"> Cloque Para Mostrar! </button>
      </div>

      <div class="DivDisciplinas" id="Analise">
        <img src="../static/img/Análise-e-Desenvolvimento.png" alt="">
        <h3> Análise e Desenvolvimento de Sistemas </h3>
        <button id="btnAds" class="btn btnAdsMargin"> Cloque Para Mostrar! </button>
      </div>

      <div class="DivDisciplinas" id="Redes">
        <img src="../static/img/Redes.png" alt="">
        <h3> Redes de Computadores </h3>
        <button id="btnRedes" class="btn btnMargin"> Cloque Para Mostrar! </button>
      </div>

      <div class="DivDisciplinas" id="Administracao">
        <img src="../static/img/Administracao.png" alt="">
        <h3> Administração</h3>
        <button id="btnAdm" class="btn btnMargin"> Cloque Para Mostrar! </button>
      </div>
    </div>
    <div class="DivDosBotoes">

  


    </div>  
    <h1 class="MatrizCurricular"> MATRIZ CURRICULAR </h1>
    <h2 class="h2SelecioneCurso" id="CursoText"> SELECIONE UM CURSO PARA VER AS DISCIPLINAS </h2>

    <div class="DivMatrizCurricularGeral">
      <ul>
        <li> 1º Semestre </li>
        <li> 2º Semestr </li>
        <li> 3º Semestr</li>
        <li> 4º Semestr </li>
        <li> 5º Semestr </li>
        <li> 6º Semestr </li>
        <li> 7º Semestr </li>
        <li> 8º Semestr</li>
      </ul>
      <div class="DivPDisciplinas">
        <p id="disciplina1">  </p>
        <p id="disciplina2"> </p>
        <p id="disciplina3"> </p>
        <p id="disciplina4"> </p>
        <p id="disciplina5"> </p>
        <p id="disciplina6"> </p>
        <p id="disciplina7"> </p>
        <p id="disciplina8"> </p>
        <p id="disciplina9"> </p>
        <p id="disciplina10"> </p>
        
      </div>
    </div>

    <!-- ########################## FOOTER ########################## -->
    <footer>
      <section>
        <img src="../static/img/faculdadeimpacta.png" alt="" class="imgFooter">
        <h3 class="h3footer1"> Siga-nos nas redes sociais </h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/FacImpacta/"> <i class="fab fa-facebook"></i> </a>
          <a href="https://twitter.com/facimpacta"> <i class="fab fa-twitter"></i> </a>
          <a href="https://www.youtube.com/user/GrupoImpacta"><i class="fab fa-youtube"></i></a>
          <a href="https://www.instagram.com/facimpacta/"> <i class="fab fa-instagram"></i> </a>
          <a href="https://www.linkedin.com/school/faculdade-impacta-tecnologia/"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p class="copyright"> Copyright © Impacta 2018.</p>
        <p class="copyright"> Todos os direitos reservados. </p>
      </section>

      <section>
          <h3 class="h3footerAll"> A Impacta </h3>
          <ul>
            <a href="#"> <li> Sobre </li> </a>
            <a href="#"> <li> Graduação </li> </a>
            <a href="#"> <li> Contato </li> </a>
          </ul>
      </section>

      <section>
        <h3 class="h3footerAll"> Contato </h3>
        <ul>
            <li> Comercial: </li>
            <li> Tel: (11) 3254-8300 </li>
            <li> Secretaria </li>
            <li> Tel: (11) 5593-5344 </li>
            <li> Unidade - Barra Funda </li>
            <li> Avenida Rudge, 315 - Barra Funda </li>
            <li> São Paulo - SP </li>
        </ul>
      </section>

      <section>
        <h3 class="h3footerAll"> Atendimento </h3>
        <ul class="ultimoUl">
            <li> Secretaria de Graduação </li>
            <li> De segunda a sexta - das 9h às 21h </li>
            <li> Sábado - das 9h às 13h </li>
            <li> Ouvidoria </li>
            <li> De segunda a sexta - das 9h às 18h </li>
            <li> Avenida Rudge, 315 - Barra Funda </li>
            <li> Tel: (11) 5593-5370</li>
        </ul>
      </section>
    </footer>
</body>
</html>
