<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Login </title>
    <link rel="shortcut icon" href="../static/img/icon-impacta.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/login.css" />
    <script src="main.js"></script>
</head>
<body>
    <div>
        <img src="../static/img/faculdadeimpacta.png" class="imagemHeader">
    </div>
    <form action="post" class="form acomodar">
        <label for=""></label>
        <input type="text" class="bradius sb txt" placeholder="Digite seu RA" ><br>
        <label for=""></label>
        <input type="password" class="bradius sb txt" placeholder="Digite sua senha">
        <a href="">Esqueceu sua senha?</a><br><br>

        <button type="submit"> FAZER LOGIN </button>
    </form>
</body>
</html>
