<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Noticias  </title>
    <link rel="shortcut icon" href="../static/img/icon-impacta.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/noticias.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/estilogeral.css" />
    <script src="main.js"></script>
</head>
<body>
    <header>
        <img src="../static/img/faculdadeimpacta.png" class="imagemHeader">

        <a href="index"> <div class="primeirobotao"> <p> Impacta </p> </div> </a>
        <a href="disciplina"> <div> <P> Disciplina </p> </div> </a>
        <a href="listadecurso"> <div> <p> Lista </p> </div> </a>
        <a href="descricao_cursos"> <div> <p> Detalhes </p> </div> </a>
        <a href="noticias"> <div> <p> Notícias </p> </div> </a>
        <a href="login"><div class="login"> Login </div></a>
    </header>
    <h2 class="h2">PRÊMIOS E RECONHECIMENTOS </h2>

     <div class="divTexto">
          <p class="texto"> A Faculdade Impacta é altamente reconhecida por sua atuação no mercado da educação, o que comprova o compromisso da Instituição com o ensino de qualidade e a dedicação do Grupo Impacta em transformar a sociedade através da tecnologia. Desta maneira, ao longo dos anos a Faculdade Impacta tem recebido prêmios e reconhecimentos que são resultados do trabalho contínuo de professores e funcionários e da determinação de seus alunos.      </p>
    </div>

    <div class="divBox">
        <img src="https://www.impacta.edu.br/themes/wc_agenciar3/images/enade-ADS.png" alt="" title="">

        <img src="https://www.impacta.edu.br/themes/wc_agenciar3/images/enade-ADM.png" alt="" title="">

        <img src="https://www.impacta.edu.br/themes/wc_agenciar3/images/enade-RD.png" alt="" title="">
    </div>

   <h3 class="h3">CONHEÇA O SMATCLASS</h3>

     <iframe class="video" src="https://www.youtube.com/embed/rBzmhog3cHU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    

    <div class="saiba"> <a href="saiba_mais" target="_blank"> <div> SAIBA MAIS SOBRE O SMARTCLASS </div> </a></div>


    </div>
    <footer>
      <section>
        <img src="../static/img/faculdadeimpacta.png" alt="" class="imgFooter">
        <h3 class="h3footer1"> Siga-nos nas redes sociais </h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/FacImpacta/"> <i class="fab fa-facebook"></i> </a>
          <a href="https://twitter.com/facimpacta"> <i class="fab fa-twitter"></i> </a>
          <a href="https://www.youtube.com/user/GrupoImpacta"><i class="fab fa-youtube"></i></a>
          <a href="https://www.instagram.com/facimpacta/"> <i class="fab fa-instagram"></i> </a>
          <a href="https://www.linkedin.com/school/faculdade-impacta-tecnologia/"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p class="copyright"> Copyright © Impacta 2018.</p>
        <p class="copyright"> Todos os direitos reservados. </p>
      </section>

      <section>
          <h3 class="h3footerAll"> A Impacta </h3>
          <ul>
            <a href="#"> <li> Sobre </li> </a>
            <a href="#"> <li> Graduação </li> </a>
            <a href="#"> <li> Contato </li> </a>
          </ul>
      </section>

      <section>
        <h3 class="h3footerAll"> Contato </h3>
        <ul>
            <li> Comercial: </li>
            <li> Tel: (11) 3254-8300 </li>
            <li> Secretaria </li>
            <li> Tel: (11) 5593-5344 </li>
            <li> Unidade - Barra Funda </li>
            <li> Avenida Rudge, 315 - Barra Funda </li>
            <li> São Paulo - SP </li>
        </ul>
      </section>

      <section>
        <h3 class="h3footerAll"> Atendimento </h3>
        <ul class="ultimoUl">
            <li> Secretaria de Graduação </li>
            <li> De segunda a sexta - das 9h às 21h </li>
            <li> Sábado - das 9h às 13h </li>
            <li> Ouvidoria </li>
            <li> De segunda a sexta - das 9h às 18h </li>
            <li> Avenida Rudge, 315 - Barra Funda </li>
            <li> Tel: (11) 5593-5370</li>
        </ul>
      </section>
    </footer>
</body>
</html>
