<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Noticias  </title>
    <link rel="shortcut icon" href="../static/img/icon-impacta.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/estilogeral.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/noticias.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/saiba.css" />
    <script src="main.js"></script>
</head>
<body>
    <header>
        <img src="../static/img/faculdadeimpacta.png" class="imagemHeader">

        <a href="index"> <div class="primeirobotao"> <p> Impacta </p> </div> </a>
        <a href="disciplina"> <div> <P> Disciplina </p> </div> </a>
        <a href="listadecurso"> <div> <p> Lista </p> </div> </a>
        <a href="descricao_cursos"> <div> <p> Detalhes </p> </div> </a>
        <a href="noticias"> <div> <p> Notícias </p> </div> </a>
        <a href="login"><div class="login"> Login </div></a>
    </header>

             <div class="container banner-main" style="background: url(https://www.impacta.edu.br/uploads/pages/2017/12/smart-class-1513366480.png) center bottom;">
            <h2 class="banner-title">Smart Class</h2>
        </div>

            <div class="p">
            <img src="https://www.impacta.edu.br/themes/wc_agenciar3/images/logo-center.png" alt="[]" title=""></div>
            
            <div class="h3">
            <h3>Smart Class</h3></div>
            
            <div class="texto">           
             <p>
             O Smart Class é um sistema de ensino inédito da Faculdade Impacta que permite assistir todas as disciplinas dos cursos no formato digital. O aluno matriculado em qualquer 
             graduação da Faculdade Impacta tem acesso a mais de 30 mil aulas, garantindo uma formação completa e interdisciplinar.
            </p></div>

            <div class="h3">
                <h4>Como funciona o Smart Class?</h4>
                
            </div>

            <div class="texto">
                <p>
             As salas de aula da Faculdade Impacta são equipadas com lousas eletrônicas, que capturam todos os pontos das aulas presenciais, como voz, escrita dinâmica, vídeos e navegação do professor. Todo o conteúdo é 
            gravado e disponibilizado em uma sala de ensino virtual para que o aluno assista quando e onde quiser, de qualquer plataforma digital.
                </p>
            </div>


             
    <footer>
      <section>
        <img src="../static/img/faculdadeimpacta.png" alt="" class="imgFooter">
        <h3 class="h3footer1"> Siga-nos nas redes sociais </h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/FacImpacta/"> <i class="fab fa-facebook"></i> </a>
          <a href="https://twitter.com/facimpacta"> <i class="fab fa-twitter"></i> </a>
          <a href="https://www.youtube.com/user/GrupoImpacta"><i class="fab fa-youtube"></i></a>
          <a href="https://www.instagram.com/facimpacta/"> <i class="fab fa-instagram"></i> </a>
          <a href="https://www.linkedin.com/school/faculdade-impacta-tecnologia/"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p class="copyright"> Copyright © Impacta 2018.</p>
        <p class="copyright"> Todos os direitos reservados. </p>
      </section>

      <section>
          <h3 class="h3footerAll"> A Impacta </h3>
          <ul>
            <a href="#"> <li> Sobre </li> </a>
            <a href="#"> <li> Graduação </li> </a>
            <a href="#"> <li> Contato </li> </a>
          </ul>
      </section>

      <section>
        <h3 class="h3footerAll"> Contato </h3>
        <ul>
            <li> Comercial: </li>
            <li> Tel: (11) 3254-8300 </li>
            <li> Secretaria </li>
            <li> Tel: (11) 5593-5344 </li>
            <li> Unidade - Barra Funda </li>
            <li> Avenida Rudge, 315 - Barra Funda </li>
            <li> São Paulo - SP </li>
        </ul>
      </section>

      <section>
        <h3 class="h3footerAll"> Atendimento </h3>
        <ul class="ultimoUl">
            <li> Secretaria de Graduação </li>
            <li> De segunda a sexta - das 9h às 21h </li>
            <li> Sábado - das 9h às 13h </li>
            <li> Ouvidoria </li>
            <li> De segunda a sexta - das 9h às 18h </li>
            <li> Avenida Rudge, 315 - Barra Funda </li>
            <li> Tel: (11) 5593-5370</li>
        </ul>
      </section>
    </footer>
</body>
</html>
